{% extends 'base.html' %}

{% block title %}Main menu{% endblock %}

{% block content %}
<div class="img-wrapper">
  <img
      src="https://img.freepik.com/premium-photo/low-angle-view-people-walking-airport_1048944-6277133.jpg?w=1380"
      alt="Factory inside"
  />
</div>

<div class="main">
  <div class="pill-container">
    <div class="pill-item">
      <p class="number">{{ masters_count }}</p>
      <p class="label">Masters</p>
    </div>
    <div class="pill-item">
      <p class="number">{{ workers_count }}</p>
      <p class="label">Workers</p>
    </div>
    <div class="pill-item">
      <p class="number">{{ boxes_count }}</p>
      <p class="label">Boxes</p>
    </div>
  </div>
</div>

  {% endblock %}