<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="navbar-button">Home</a>
  </div>
  <div class="navbar-center">
    <div class="menu">
      <a class="navbar-button">Menu ▾</a>
      <ul class="menu-list">
        {% if worker %}
          <li><a href="{% url 'profile' %}">Profile</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="navbar-right">
    {% if worker %}
    <a href="{% url 'logout' %}" class="navbar-button">Logout</a>
    <span class="separator">|</span>
    <a href="{% url 'profile' %}" class="navbar-button">{{ worker.first_name }} {{ worker.last_name }}</a>
    {% else %}
    <a href="{% url 'login' %}" class="navbar-button">Login</a>
    {% endif %}
  </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>

