<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

<nav class="navbar">
  <div class="nav-left">
    <a href="#" class="nav-button">Home</a>
  </div>
  <div class="nav-center">
    <div class="menu">
      <a class="nav-button">Menu ▾</a>
      <ul class="menu-list">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li><a href="#">Option 3</a></li>
      </ul>
    </div>
  </div>
  <div class="nav-right">
    <a href="#" class="nav-button">Login</a>
  </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>

